*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{
	width:10000;
	height:10000;
	background: #42455a;
}
.banner{
	width: 90%;
	height: 70%;
	top:50%;
	left:250px;
	position: absolute;
	color:#ffff;

}
.app-text{
	width: 50%;
	float: left;
}
.h1 {
	font-size: 50px;
	width:640px;
	position: relative;
	position: absolute;
}
.add-picture {
	width :50%;
	float : absolute;
}
.add-picture img {
	width :120%;
	margin-top:140px;
	padding-left:150px;
}
.add-picture img1 {
	width :120%;
	margin-top:140px;
	padding-right:450px;
}


